@import 'tailwindcss';

body {
  background-image: url('https://images.unsplash.com/photo-1454496522488-7a8e488e8606?q=80&w=2070&auto=format&fit=crop');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #f5f5f5;
}
